.container {
  margin: 0;
  padding: 0;
}
.btn {
  padding: 0.5rem;
  margin: 0 0.3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(185, 185, 185);
  color: rgb(48, 48, 48);
  transition: 0.3s;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(99, 99, 99);
  color: #fff;
  transition: 0.3s;
}
